version: "3.8"

services:
  api:
    container_name: "micro_qr_extractor_api"
    volumes:
      - ./app:/app
    build: .
    ports:
      - "8080:8080"
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8080